POSTGRES_USER=mqtt
POSTGRES_PASSWORD=password
POSTGRES_DB=mqtt
POSTGRES_PORT=5432

MQTT_PORT=1883

API_PORT=3000

SIM_TENANT_ID=demo
SIM_DEVICE_ID=sim-001
SIM_INTERVAL_MS=2000
SIM_DUPLICATE_RATE=0
SIM_DROP_RATE=0
SIM_SKEW_MS=0